In [10]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [11]:
train_data = pd.read_csv("train.csv")
test_data  = pd.read_csv("test.csv")
error_data =pd.read_csv("error.csv")
train_data.describe()

             Month    bed_count    icu_count  oxygen_count
count  1000.000000  1000.000000  1000.000000     1000.0000
mean      6.646000  6545.497000   551.675000      395.5690
std       3.482357   869.177912   259.136093       58.8861
min       1.000000  5003.000000   100.000000      300.0000
25%       4.000000  5796.750000   327.750000      343.0000
50%       7.000000  6572.500000   537.500000      395.0000
75%      10.000000  7329.250000   774.500000      448.0000
max      12.000000  7995.000000  1000.000000      500.0000

In [12]:

train_y = train_data.bed_count
inputCols = train_data.columns[0:2]
train_X = train_data[inputCols]
test_X = test_data[inputCols]
        
rf_model_1 = RandomForestRegressor(n_estimators=2000,random_state=1)
rf_model_1.fit(train_X,train_y)

result_1 = rf_model_1.predict(test_X)

In [13]:

train_y = train_data.icu_count
inputCols = ['Month','icu_count']
train_X = train_data[inputCols]
test_X = test_data[inputCols]

rf_model_2 = RandomForestRegressor(n_estimators=2000,random_state=1)
rf_model_2.fit(train_X,train_y)

result_2 = rf_model_2.predict(test_X)

In [14]:

train_y = train_data.oxygen_count
inputCols = ['Month','oxygen_count']
train_X = train_data[inputCols]
test_X = test_data[inputCols]

rf_model_3 = RandomForestRegressor(n_estimators=2000,random_state=1)
rf_model_3.fit(train_X,train_y)

result_3 = rf_model_3.predict(test_X)

In [15]:
valid=error_data['bed_count']

print("MAE for result_1",mean_absolute_error(valid,result_1))

MAE for result_1 1002.615652

In [16]:
valid=error_data['icu_count']

print("MAE for result_1",mean_absolute_error(valid,result_2))

MAE for result_1 301.695772

In [17]:
valid=error_data['oxygen_count']

print("MAE for result_1",mean_absolute_error(valid,result_3))

MAE for result_1 67.947553

In [18]:
predictions = pd.DataFrame()
predictions["Month"] = test_data["Month"]
predictions["bed_count"]=result_1
predictions["icu_count"]=result_2
predictions["oxygen_count"]=result_3
predictions.to_csv('prediction.csv', index=False, header=predictions.columns)
predictions.head()

   Month  bed_count  icu_count  oxygen_count
0      8  7106.1715   669.8610      301.9980
1     10  6067.8745   106.9665      478.9755
2      7  7917.2675   648.2265      467.9940
3      8  7879.2315   967.6315      338.9730
4      1  6724.8215   811.7765      318.9975